@using EV.Application.Services.Times.Commands.AddTimes
@using EV.Domain.Entities.Common
@{
	Layout = null;
}
@model ReqAddTimeService

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>انتخاب واحد</title>
	<!-- CSS Stylesheets -->
	<link rel="stylesheet" type="text/css" href="~/css/bootstrap4-rtl.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/flatpickr.min.css" />
</head>
<body class="rtl">
	
	<div class="contact1">
		<div class="container-contact1">

			<form class="contact1-form validate-form" method="post">
				<span class="contact1-form-title">بازه ساعات خود را وارد کنید</span>
				
					<ul id="timesList">
						<li>
							<label>ساعت 1:</label>
							<div class="wrap-input1 validate-input" data-validate="تعداد ساعات کلاس">
								<label>از</label>
								<input required class="input1" id="timePicker0" name="Times[0].From" type="time" min="3:00" max="23:59" step="900">
								<span class="shadow-input1"></span>
								<br />
								<label>تا</label>
								<input required class="input1" id="timePicker0" name="Times[0].To" type="time" min="3:00" max="23:59" step="900">
								<span class="shadow-input1"></span>
								<br /><br />
							</div>
						</li>
					</ul>

					<a class="btn btn-primary" onclick="addTime()">ساعت جدید</a>
					<br	/><br />

				<div class="container-contact1-form-btn">
					<button class="contact1-form-btn" type="submit">
						<span>
							ثبت ساعات و رفتن به مرحله بعد
							<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<!-- Scripts -->
	<script src="~/js/jquery-3.1.1.min.js"></script>
	<script src="~/js/scripts.js"></script>
	<script src="~/js/flatpickr.min.js"></script>
	<script>

		let TimesIndex = 1;
		let flatPickerIndex = 1;

		function addTime(){
			let newLi = document.createElement("li");
			newLi.innerHTML = `<label>ساعت ${TimesIndex+1}:</label>
								<div class="wrap-input1 validate-input" data-validate="تعداد ساعات کلاس">
								<label>از</label>
								<input class="input1" id="timePicker${flatPickerIndex}" name="Times[${TimesIndex}].From"  type="time" min="3:00" max="23:59" step="900">
								<span class="shadow-input1"></span>
								<br />
								<label>تا</label>
								<input class="input1" id="timePicker${flatPickerIndex}" name="Times[${TimesIndex}].To" type="time" min="3:00" max="23:59" step="900">
								<span class="shadow-input1"></span>
								<br /><br />
							</div>`;

			document.getElementById("timesList").appendChild(newLi);

			TimesIndex ++;

			flatpickr(`#timePicker${flatPickerIndex}`, {
			enableTime: true,
			noCalendar: true,
			dateFormat: "H:i",  // 24 ساعته
			time_24hr: true
			});

			flatPickerIndex ++;
		}
	</script>
	<script>
		flatpickr("#timePicker0", {
			enableTime: true,
			noCalendar: true,
			dateFormat: "H:i",  // 24 ساعته
			time_24hr: true
		});
	</script>
	
</body><!-- This template has been downloaded from Webrubik.com -->
</html>
